body{
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
        .display-flex{
            display: flex;
        }

        .text-primary{
            color: #FF900E;
        }

        /* Dark 01  */
        .text-dark-gray{
        color: #131313; 
        }


        /* Dark 02  */
        .text-gray{
            color: #424242;
        }

        /* Dark 03  */
        .text-light-gray{
            color: #727272;
        }

        /* background light  */
        .bg-light{
            background-color: rgba(255, 144, 14, 0.1);  /* figma file theke dakha jacche aikhane  main color er 10% use kora hoyece ja hexadecimal e prokas kora kothin. tai aikhane rgb value ta use kora hoyece. */
        }

        main{
            max-width: 1440px;
            margin: 0 auto;
        }





/* header related style  */

main > section{
    margin-top: 130px;
}



/* navbar related style  */

.brand{
    font-weight: 700;
    font-size: 3rem;
    /* 1rem=16px. 3rem=48px~ 45px amra jhitu atake responsive bananor try kortreci tai amra px na lakhar try korbo. rem e lakhle seta responsive hisabe kaj kore.  */
}

.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.nav-link{
    text-decoration: none;
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto; 
    /* ai margin use korar karone era akhon centralvabe align hoye jabe. */
}


/* banner related style  */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}


/* button related design  */

.btn-primary{
    margin: 23px 131px;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 21px 24px 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feathers{
    margin-left:130px ;
    max-width: 530px;
}

.section-title{
    font-size:2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;
}

/* some facts related style  */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
}

.fact-card{
    border: 3px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;

    /* align-item & justify-content center koray dilay oi item ta horizontrally & vertically item gulo center e cole ase.  */
    align-items: center;
    justify-content:center;
    
}


.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px ;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

}

.fact-description{
    max-width: 540px;
}

.sponsor-companies{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}








/* responsive media quary  */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }

    .team-img-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }  

    .our-feathers{
        margin-left:20px;
    }

    .fact-container,{
        justify-items: center;
        /* justify-items প্রতিটি grid item কে তার নিজের grid cell-এর ভিতরে left / center / right এ বসায়. Flexbox-এ কাজ করে না. justify-content container-এর ভিতরে সব items একসাথে কীভাবে বসবে সেটা নিয়ন্ত্রণ করে।  */
        gap: 24px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }

    .sponsor-info{
        max-width: 540px;
        margin: 50px auto;
        text-align: center;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-feathers{
        margin: 20px auto;
    }


    .fact-container{
        grid-template-columns: repeat(3,1fr );
    }


    .sponsor-companies{
        grid-template-columns: repeat(3,1fr );
        justify-items: center;
        gap: 50px;
    }

    
}